# Dependencies
node_modules

# Build output
dist
build
coverage

# Logs
*.log
npm-debug.log*

# Environment files
.env
.env.local
.env.*.local

# Cache
.cache
.eslintcache

# Misc
*.md
package-lock.json

